<div class="container">

  <h2 class="my-3 mx-1">Add Tasks</h2>
  <app-task-form (taskSaved)="loadTasks()"></app-task-form>
  <ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between">
      <div class="d-flex justify-content-center align-items-center">
        {{ task.title }} - {{ task.description }}
      </div>

      <div>
        <button (click)="deleteTask(task.id ?? '')" class="btn btn-danger m-1">
          <img  src="assets/svg/delete.svg" alt="Delete" >
        </button>
        <button (click)="editTask(task)" class="btn btn-success m-1">
          <img  src="assets/svg/edit.svg" alt="edit" >
        </button>
      </div>

    </li>
  </ul>
  <div *ngIf="editingTask">
    <h3 class="my-3 mx-1">Edit Task</h3>
    <app-task-form [task]="editingTask" (taskSaved)="onTaskSaved()"></app-task-form>
  </div>
</div>

